<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.minithermalprinter" version="1.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>minithermalprinter</name>
  <js-module name="minithermalprinter" src="www/minithermalprinter.js">
    <clobbers target="cordova.plugins.minithermalprinter" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="minithermalprinter">
        <param name="android-package" value="com.merchant.print" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/app/src/main/java/com/appfeel/cordova/analytics/CPGoogleAnalytics.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/com/merchant/print/Bluetooth.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/com/merchant/print/BluetoothService.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/com/merchant/print/DeviceListActivity.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/com/merchant/print/MainActivity.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/com/merchant/print/minithermalprinter.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/nl/xservices/plugins/Toast.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/org/apache/cordova/buildinfo/BuildInfo.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/org/apache/cordova/dialogs/Notification.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/org/apache/cordova/file/AssetFilesystem.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/org/apache/cordova/file/ContentFilesystem.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/org/apache/cordova/file/DirectoryManager.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/org/apache/cordova/file/EncodingException.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/org/apache/cordova/file/FileExistsException.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/org/apache/cordova/file/Filesystem.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/org/apache/cordova/file/FileUtils.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/org/apache/cordova/file/InvalidModificationException.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/org/apache/cordova/file/LocalFilesystem.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/org/apache/cordova/file/LocalFilesystemURL.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/org/apache/cordova/file/NoModificationAllowedException.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/org/apache/cordova/file/PendingRequests.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/org/apache/cordova/file/TypeMismatchException.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/sdk/Command.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/sdk/PrinterCommand.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    <source-file src="src/android/app/src/main/java/sdk/PrintPicture.java" target-dir="src/cordova/plugin/minithermalprinter/minithermalprinter" />
    </platform>
</plugin>